:root {
    --red: #bc1212;
    --grey: rgb(73, 73, 73);
}

.slick-list {
    overflow: hidden;
    padding: 20px 10px;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 0;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: var(--grey);
}

.slick-arrow:hover {
    box-shadow: 1px 1px 15px 0 var(--red);
}

.slick-prev {
    left: 0;
    background-image: url("images/right-arrow.png");
}